#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-family:sans-serif,arial;
	font-size: 14px;
	position: relative;
}
#cssmenu a {
	line-height: 1.3;
}
#cssmenu {
	width: 100%;
        background-color:#F8F59B;
}
/*padding-right: 40px;
background: #bd0e36;*/
#cssmenu > ul > li > a {
	 
	font-size: 25px;
	font-weight: bold;
	display: block;
	
	color: #ffffff;
	border-bottom: 1px solid #031840;
	text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
	background: #05296E;
	padding: 10px;
        padding-left: 50%;
	display: block;
	font-size: 13px;
	font-weight: 300;
}
#cssmenu > ul > li > a:hover {
	text-decoration: none;
}
#cssmenu > ul > li.active {
	border-bottom: none;
}
#cssmenu > ul > li.active > a {
	color: #fff;
}
#cssmenu > ul > li.active > a span {
	background: #4575D4;
        font-size: 18px;
        font-weight: 800;
}
#cssmenu span.cnt {
	position: absolute;
	top: 8px;
	right: 15px;
	padding: 0;
	margin: 0;
	background: none;
        
}
/* Sub menu */
#cssmenu ul ul {
	display: none;
}
/*#cssmenu ul ul li {
	border: 1px solid #e0e0e0;
	border-top: 0;
}
#cssmenu ul ul a {
	padding: 10px;
	display: block;
	color: #ed1144;
	font-size: 13px;
}*/

.btn btn-info start-slide{
    background: #9E9FA5 !important
}